<p>
  Take your test for:
</p>
<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <%= link_to 'Javascript', new_questioner_form_path %>
</button>
